#root {
  margin: 0 auto;
  width: 100vw;
}

.row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.row.filmCard-row {
  flex-wrap: wrap;
}

.column-half {
  flex-basis: 50%;
}

.filmCard {
  width: 14%;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.536);
  margin-bottom: 3rem;
}

.filmCard:hover {
  border: 2px solid #350000;
  cursor: pointer;
}

.outlet-body h5 {
  color: white;
  font-family: Barlow, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 0;
}
