#root {
  margin: 0 auto;
  width: 100vw;
}

.logo {
  height: 6em;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column-half {
  flex-basis: 50%;
}

.header-column {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.heading {
  background-color: #350000;
}

.heading h3 {
  color: white;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}

.heading a {
  color: white;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}

.outlet-body {
  background-color: #2e2e2e;
  height: 100vh;
}

.filmCard {
  width: 14%;
  border-radius: 10px;
}

.outlet-body h5 {
  color: white;
  font-family: Barlow, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 0;
}
