.comparison-wrapper {
  padding: 2rem;
}

.comparison-wrapper h1 {
  font-family: Barlow, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.comparison-wrapper h2 {
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  font-size: 1.16rem;
  color: white;
  cursor: pointer;
}

.comparison-wrapper h2.selected {
  font-size: 1.5rem;
}

.comparison-wrapper hr {
  margin: 0;
}

.comparison-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  align-items: center;
}

.comparison-header .row {
  margin-top: 2rem;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.comparison-header h3 {
  font-family: 'Bona Nova', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.12rem;
  color: white;
  margin: 0;
}

.comparison-header h4 {
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.85rem;
  color: white;
  margin: 0;
}

.comparison-body h5 {
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0;
  text-align: left;
}

.comparison-body .review-image-column {
  flex-basis: 20%;
}

.comparison-body h6 {
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0;
}

.comparison-body .row {
  align-items: center;
}

.comparison-header .column-half {
  text-align: center;
}

.comparison-profile a:hover {
  background-color: #870e0e;
  color: gray;
  cursor: pointer;
}

.comparison-profile h1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.comparison-body .card-catalog .film-master-wrapper {
  width: 24%;
  height: 100%;
}

.comparison-body .recommendations-row .filmCard-row .film-master-wrapper {
  height: 275px;
}

.recommendations-row .card-catalog {
  width: 100%;
}

@media only screen and (width <= 600px) {
  .comparison-wrapper {
    padding: 1.32rem;
  }

  .comparison-wrapper h1 {
    font-size: 1.32rem;
  }

  .comparison-wrapper h2 {
    font-size: 0.766rem;
  }

  .comparison-wrapper h2.selected {
    font-size: 1rem;
  }

  .comparison-header {
    margin-top: 0.66rem;
    margin-bottom: 1.32rem;
    flex-wrap: wrap;
  }

  .comparison-header .row {
    margin-top: 1.32rem;
  }

  .comparison-header h1 {
    font-size: 1.32rem;
  }

  .comparison-header h3 {
    font-size: 1.4rem;
  }

  .comparison-header h4 {
    font-size: 0.56rem;
  }

  .comparison-body {
    flex-wrap: wrap;
  }

  .comparison-body h5 {
    font-size: 0.8rem;
  }

  .comparison-body h6 {
    font-size: 0.8rem;
  }

  .comparison-header .column-half {
    flex-basis: 100%;
    margin-top: 0.66rem;
  }

  .comparison-body .column-half {
    flex-basis: 100%;
  }

  body .comparison-body .card-catalog {
    padding: 0 2rem !important;
  }

  .comparison-body .recommendations-row .filmCard-row .film-master-wrapper {
    height: 200px;
  }
}
