.profile-container {
  color: white;
  padding: 2rem;
}

.profile-container a:hover {
  color: #870e0e;
}

.profile-container .profile-body .film-master-wrapper {
  width: 24%;
}

.profile-container .review-image-column {
  flex-basis: 20%;
}

.profile-container .review-image-column .film-master-wrapper {
  width: 100%;
}

@media only screen and (width <= 600px) {
  .profile-container .profile-body {
    flex-wrap: wrap;
  }

  .profile-container .column-half {
    flex-basis: 100%;
  }

  .profile-container .reviews-page {
    padding: 1.32rem;
  }

  .profile-container .review-image-column {
    height: 166px;
  }

  .profile-wishlist .film-master-wrapper.void {
    display: none;
  }
}
