.reviews-page {
  padding: 2rem;
}

.reviews-page .row {
  justify-content: flex-start;
  align-items: flex-start;
}

.reviews-page .row.title-row {
  align-items: flex-end;
}

.reviews-title {
  color: white;
}

.reviews-container {
  color: white;
}

.filmCard.reviewCard {
  width: 100%;
  margin: 0;
}

.column-two-thirds {
  flex-basis: 80%;
  padding: 2rem;
  padding-top: 0;
}

.column-two-thirds h1 {
  font-family: 'Bona Nova', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin-bottom: 0;
  margin-right: 2rem;
  margin-top: 0;
}

.column-two-thirds h3 {
  font-family: Barlow, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.84rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.column-two-thirds h2 {
  font-family: 'Bona Nova', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.review-image-column {
  flex-basis: 10%;
}
