.reviews-page {
  padding: 2rem;
}

.reviews-page .row {
  justify-content: flex-start;
  align-items: flex-start;
}

.reviews-page .row.title-row {
  align-items: flex-end;
  justify-content: space-between;
}

.reviews-title {
  color: white;
}

.reviews-container {
  color: white;
}

.filmCard.reviewCard {
  margin: 0;
}

.review-image-column .film-card-wrapper {
  width: 100%;
}

.column-two-thirds {
  flex-basis: 80%;
  padding: 2rem;
  padding-top: 0;
}

.column-two-thirds h1 {
  font-family: 'Bona Nova', serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  margin-bottom: 0;
  margin-right: 2rem;
  margin-top: 0;
}

.column-two-thirds h3 {
  font-family: Barlow, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 0.84rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.column-two-thirds h2 {
  font-family: 'Bona Nova', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.review-image-column {
  flex-basis: 10%;
  height: 255px;
}

@media only screen and (width <= 600px) {
  .reviews-page .reviews-title {
    font-size: 0.8rem;
  }

  .reviews-page .review-image-column {
    flex-basis: 20%;
    height: 200px;
  }

  .review-image-column .film-card-wrapper {
    height: 100px;
  }

  .column-two-thirds {
    padding: 1.32rem;
  }

  .column-two-thirds h1 {
    font-size: 1.65rem;
    margin-right: 1.32rem;
  }

  .column-two-thirds h3 {
    font-size: 0.554rem;
    margin-top: 0.66rem;
  }

  .column-two-thirds h2 {
    font-size: 0.726rem;
    margin-top: 1.32rem;
  }

  .reviews-page .row.title-row {
    align-items: flex-start;
  }
}
