button.button {
  color: #870e0e;
  background-color: #d9d9d9;
  font-weight: 400;
  padding: 0.5rem;
  border: 1px solid #870e0e;
  border-radius: 6px;
}

button.button:hover {
  color: grey;
  cursor: pointer;
  background-color: #870e0e;
}
