.logo {
  height: 6em;
}

.logo:hover {
  cursor: pointer;
}

.header-column {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.heading {
  background-color: #350000;
  padding-left: 2rem;
}

.heading h3 {
  color: white;
  font-family: Barlow, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}

.heading h3:hover {
  cursor: pointer;
  color: grey;
}

.heading a.profile-button:hover {
  color: grey;
  cursor: pointer;
  background-color: #870e0e;
}

.outlet-body {
  height: 100%;
}

input {
  border-radius: 6px;
  height: 1.2rem;
  border: none;
}

input::placeholder {
  font-family: Barlow, sans-serif;
  font-weight: 450;
  font-style: normal;
  font-size: 1rem;
}

.sign-in-form {
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #ee142d43;
  height: 100%;
  border-radius: 0 0 0 6px;
}

.sign-in-form input {
  margin-right: 2rem;
  margin-left: 1rem;
}

#sign-in-password::placeholder {
  color: white;
}

.sign-in-form::backdrop {
  background: rgba(23, 22, 22, 0.955);
}

.search-row {
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #ee142d43;
  height: 100%;
  border-radius: 0 0 0 6px;
}

.search-row input {
  width: 66%;
}

@media only screen and (width <= 875px) {
  .logo-title {
    display: none;
  }

  .heading .column-half {
    flex-basis: content;
  }

  .heading .header-column h3 {
    margin-right: 1rem;
  }

  .heading .header-column span {
    margin-right: 1rem;
  }

  .heading .header-column a {
    margin-right: 1rem;
  }
}

@media only screen and (width <= 600px) {
  .row.heading {
    padding-left: 1.2rem;
  }

  body button {
    padding: 0.33rem;
    font-size: 0.66rem;
  }

  .heading .header-column h3 {
    font-size: 0.8rem;
  }

  .logo-icon {
    height: 3.96em;
  }

  .heading .header-column a.profile-button {
    width: 33px;
    height: 33px;
    font-size: 1.32rem;
  }

  .heading input {
    height: 0.8rem;
    border: none;
    width: 50%;
  }

  .heading input::placeholder {
    font-size: 0.66rem;
  }

  .heading .sign-in-form input {
    margin-right: 1.32rem;
    margin-left: 0.66rem;
  }
}
