.rating-container {
  background-color: #8c7b6f;
  border-radius: 6px;
  margin-top: 4.5rem;
}

.rating-row {
  border: 1px solid black;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.column-third {
  flex-basis: 30%;
  align-content: center;
}

h5 {
  color: #d9d9d9;
  font-family: Barlow, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.84rem;
  margin: 0;
}

.selectable:hover {
  color: grey;
  cursor: pointer;
  background-color: #870e0e;
}

svg > path:hover {
  color: #4a1b1b;
  cursor: pointer;
}

[type='checkBox']:checked + svg > path {
  color: #4a1b1b;
}

.rating-row .selected svg > path {
  color: #4a1b1b;
}

[type='checkBox']:checked + svg > path:hover {
  color: #6d6056;
}

.rating-row .selected svg > path:hover {
  color: #6d6056;
}

[type='checkBox'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* CHECKED STYLES */
